<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474904881746-5ckip1kj2fcbm60qbvtj19sbsh5504mk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474904881746-5ckip1kj2fcbm60qbvtj19sbsh5504mk</string>
	<key>API_KEY</key>
	<string>AIzaSyBIOFgFWPw9ahce_YGTJFawx-WBL0uxJcY</string>
	<key>GCM_SENDER_ID</key>
	<string>474904881746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.Navigation</string>
	<key>PROJECT_ID</key>
	<string>navigation-fd541</string>
	<key>STORAGE_BUCKET</key>
	<string>navigation-fd541.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474904881746:ios:9baa10999c348a27750d8b</string>
</dict>
</plist>